<footer id="footer">
  <div class="footer-widgets">

    <div class="widget-area">
      <h3 class="widget-title">Paslaugos</h3>
      <ul>
        <li><a href="{{ site.baseurl }}/paslaugos#imoniu-teise">Įmonių teisė</a></li>
        <li><a href="{{ site.baseurl }}/paslaugos#sutarciu-rengimas">Sutarčių rengimas</a></li>
        <li><a href="{{ site.baseurl }}/paslaugos#mokesciu-isaiskinimas">Mokesčių išaiškinimas</a></li>
        <li><a href="{{ site.baseurl }}/paslaugos#konsultacijos">Konsultacijos</a></li>
      </ul>
    </div>

    <div class="widget-area">
      <h3 class="widget-title">Naujienos</h3>
      <ul>
        <li><a href="{{ site.baseurl }}/naujienos/asmens-duomenu-apsaugos-politika">Asmens duomenų apsaugos politika</a></li>
        <li><a href="{{ site.baseurl }}/naujienos/slapuku-politika">Slapukų politika</a></li>
        <li><a href="{{ site.baseurl }}/naujienos/juridinio-asmens-pavadinimas">Ką reikia žinoti apie juridinio asmens pavadinimą</a></li>
      </ul>
    </div>

    <div class="widget-area">
      <h3 class="widget-title">Kontaktai</h3>
      <ul>
        <li><a href="tel:+37069816674">+370 698 16674</a></li>
        <li><a href="mailto:info@legis.lt">info@legis.lt</a></li>
        <li><a href="{{ site.baseurl }}/kontaktai#kaip-atvykti">Kaip atvykti?</a></li>
        <li><a href="{{ site.baseurl }}/kontaktai">Rekvizitai</a></li>
      </ul>
    </div>

  </div>

  <div class="site-info">
    &copy; {{ 'now' | date: "%Y" }} UAB Legisperitus
  </div>
</footer>
