<header class="site-header">
  <div class="site-branding">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/LegisPeritus.png" alt="UAB Legisperitus">
    </a>
    <p class="site-description">Teisinės paslaugos</p>
  </div>
  <nav class="main-navigation">
    <a href="{{ site.baseurl }}/veikla">Veikla</a>
    <a href="{{ site.baseurl }}/aktualijos">Aktualijos</a>
    <a href="{{ site.baseurl }}/dokumentai">Dokumentai</a>
    <a href="{{ site.baseurl }}/bendraukime">Bendraukime</a>
  </nav>
</header>
