<section class="hero">
  <nav class="hero__nav">
    <a href="{{ site.baseurl }}/paslaugos">Paslaugos</a>
    <a href="{{ site.baseurl }}/naujienos">Naujienos</a>
    <a href="{{ site.baseurl }}/dokumentai">Dokumentai</a>
    <a href="{{ site.baseurl }}/kontaktai">Kontaktai</a>
  </nav>

  <div class="hero__body">
    <img class="hero__logo" src="{{ site.baseurl }}/assets/images/LegisPeritus.png" alt="LegisPeritus">
    <div class="hero__divider"></div>
    <p class="hero__tagline">Teisinės paslaugos</p>
    <div class="hero__cta">
      <a href="{{ site.baseurl }}/paslaugos" class="btn-primary">Paslaugos</a>
      <a href="{{ site.baseurl }}/kontaktai" class="btn-secondary">Susisiekti</a>
    </div>
  </div>
</section>
